## 一時ファイル ##
*~
*.swp
*.bak
*.bb
~*
.swp.*
*.tmp
*.old
*.log
.cache/
*.autosave

## アーカイブ ##
*.zip
*.lzh
*.tar.gz
*.tgz
*.bz2
*.dmg

## 証明書 ##
*.pem
*.key

## Xcode ##
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

## node ##
node_modules/*
coverage/*

## Objectファイル ##
*.slo
*.lo
*.o
*.obj

## Compiled Dynamic libraries ##
*.so
*.dylib
*.dll

## Compiled Static libraries ##
*.lai
*.la
*.a
*.lib

## 実行ファイル ##
*.exe
*.out
*.app

## Windows ##
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

## version control system ##
.git/
.gitconfig
.hg/
.svn/

## IDE
.idea/
*.iml

## 作業用 ##
# run.sh

## maven ##
target/

## athenz ##
*.ntoken

## tag ##
tags
tags.lock

## Chef ##
Berksfile.lock
